/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*/bin/*
*/obj/*
/.vs/CMS/v15/Server/sqlite3/storage.ide
/.vs/CMS/v15/Server/sqlite3/db.lock
/.vs/CMS/v15/Server/sqlite3/storage.ide-shm
/.vs/CMS/v15/Server/sqlite3/storage.ide-wal
/Secondary.School.Web/Properties/PublishProfiles/Somee-SmartImport.pubxml
/.vs/ASEUSolution/v15/Server/sqlite3/db.lock
/.vs/ASEUSolution/v15/Server/sqlite3/storage.ide
/.vs/ASEUSolution/v15/Server/sqlite3/storage.ide-shm
/.vs/ASEUSolution/v15/Server/sqlite3/storage.ide-wal
